# Folders
[Dd]ebug*/
[Rr]elease*/
[Bb]in/
obj/
Lib/
ipch/
.vs/

# Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

# SLN
*.db
*.sdf
*.suo
*.user
*.opensdf
*.pidb
*.userprefs
*.gitgamegui-user

# System Files
*.DS_Store
*.cachefile

# Unity files
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
/[Ll]ogs

*.sln
*.csproj
*.tmp
*.booproj
*.svd
*.apk
*.unitypackage

sysinfo.txt

*.gititgui-user